---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
DerivePointerAlignment: false
IndentWidth:     4
BreakConstructorInitializersBeforeComma: true
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
ColumnLimit: 132
AlwaysBreakTemplateDeclarations: true
...

